@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* SELECT button */
.selectButton {
    position: absolute;
    width: 450px;
    height: 60px;
    left: 735px;
    top: 2621px;

    background: #52779C;
    border-radius: 10px;
    border: 0;
        
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    cursor: pointer;
}
.selectButton:hover {
    background-color: #b0c4de;
}

.breakLine {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 649px;
    height: 70px;
    left: 629px;
    top: 2689px;
}

/* ENTJ */
    .ENTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 276px;
        top: 323px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENTJ_button:hover, .ENTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENTJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 286px;
        top: 363px;

        pointer-events: none;
    }
    .ENTJ{
        position: absolute;
        width: 51px;
        height: 38px;
        left: 391px;
        top: 651px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 306px;
        top: 702px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ENTP */
    .ENTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 637px;
        top: 323px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENTP_button:hover, .ENTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENTP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 647px;
        top: 363px;

        pointer-events: none;
    }
    .ENTP{
        position: absolute;
        width: 54px;
        height: 38px;
        left: 746px;
        top: 651px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 665px;
        top: 702px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ENFJ */
    .ENFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 998px;
        top: 323px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENFJ_button:hover, .ENFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENFJ_AvatarPosition {
        position: absolute;
        width: 260px;
        height: 260px;
        left: 1008px;
        top: 363px;

        pointer-events: none;
    }
    .ENFJ{
        position: absolute;
        width: 49px;
        height: 38px;
        left: 1113px;
        top: 651px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 1027px;
        top: 702px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ENFP */
    .ENFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 1359px;
        top: 323px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENFP_button:hover, .ENFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENFP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1369px;
        top: 363px;

        pointer-events: none;
    }
    .ENFP{
        position: absolute;
        width: 52px;
        height: 38px;
        left: 1473px;
        top: 651px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 1388px;
        top: 702px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ESTJ */
    .ESTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 276px;
        top: 893px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESTJ_button:hover, .ESTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESTJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 286px;
        top: 933px;

        pointer-events: none;
    }
    .ESTJ{
        position: absolute;
        width: 49px;
        height: 38px;
        left: 388px;
        top: 1221px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESTJ_description{
        pointer-events: none;

        position: absolute;
        width: 222px;
        height: 133px;
        left: 305px;
        top: 1272px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ESFJ */
    .ESFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 637px;
        top: 893px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESFJ_button:hover, .ESFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESFJ_AvatarPosition {
        position: absolute;
        width: 260px;
        height: 260px;
        left: 647px;
        top: 933px;

        pointer-events: none;
    }
    .ESFJ{
        position: absolute;
        width: 47px;
        height: 38px;
        left: 753px;
        top: 1221px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 666px;
        top: 1272px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ESTP */
    .ESTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 998px;
        top: 893px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESTP_button:hover, .ESTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESTP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1008px;
        top: 933px;

        pointer-events: none;
    }
    .ESTP{
        position: absolute;
        width: 52px;
        height: 38px;
        left: 1112px;
        top: 1221px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 1027px;
        top: 1272px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ESFP */
    .ESFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 1359px;
        top: 893px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESFP_button:hover, .ESFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESFP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1369px;
        top: 933px;

        pointer-events: none;
    }
    .ESFP{
        position: absolute;
        width: 50px;
        height: 38px;
        left: 1474px;
        top: 1221px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 1388px;
        top: 1272px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* INTJ */
    .INTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 276px;
        top: 1463px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INTJ_button:hover, .INTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INTJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 286px;
        top: 1503px;

        pointer-events: none;
    }
    .INTJ{
        position: absolute;
        width: 45px;
        height: 38px;
        left: 386px;
        top: 1791px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .INTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 298px;
        top: 1850px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* INTP  */
    .INTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 637px;
        top: 1463px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INTP_button:hover, .INTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INTP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 648px;
        top: 1503px;

        pointer-events: none;
    }
    .INTP{
        position: absolute;
        width: 49px;
        height: 38px;
        left: 752px;
        top: 1791px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .INTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 667px;
        top: 1842px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* INFJ */
    .INFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 998px;
        top: 1463px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INFJ_button:hover, .INFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INFJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1008px;
        top: 1503px;

        pointer-events: none;
    }
    .INFJ{
        position: absolute;
        width: 43px;
        height: 38px;
        left: 1116px;
        top: 1791px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .INFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 1027px;
        top: 1842px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* INFP */
    .INFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 1359px;
        top: 1463px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INFP_button:hover, .INFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INFP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1370px;
        top: 1503px;

        pointer-events: none;
    }
    .INFP{
        position: absolute;
        width: 46px;
        height: 38px;
        left: 1477px;
        top: 1791px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .INFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 135px;
        left: 1386px;
        top: 1842px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ISTJ */
    .ISTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 276px;
        top: 2033px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISTJ_button:hover, .ISTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISTJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 286px;
        top: 2073px;

        pointer-events: none;
    }
    .ISTJ{
        position: absolute;
        width: 43px;
        height: 38px;
        left: 386px;
        top: 2361px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 303px;
        top: 2420px;       

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ISFJ */
    .ISFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 638px;
        top: 2033px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISFJ_button:hover, .ISFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISFJ_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 648px;
        top: 2073px;

        pointer-events: none;
    }
    .ISFJ{
        position: absolute;
        width: 41px;
        height: 38px;
        left: 756px;
        top: 2361px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 666px;
        top: 2420px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ISTP */
    .ISTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 998px;
        top: 2033px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISTP_button:hover, .ISTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISTP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1009px;
        top: 2073px;

        pointer-events: none;
    }
    .ISTP{
        position: absolute;
        width: 47px;
        height: 38px;
        left: 1115px;
        top: 2370px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 1027px;
        top: 2420px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

/* ISFP */
    .ISFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 500px;
        left: 1359px;
        top: 2033px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISFP_button:hover, .ISFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISFP_AvatarPosition {
        position:absolute;
        width: 260px;
        height: 260px;
        left: 1370px;
        top: 2073px;

        pointer-events: none;
    }
    .ISFP{
        position: absolute;
        width: 44px;
        height: 38px;
        left: 1478px;
        top: 2370px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 1389px;
        top: 2420px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #B8A195;
    }

    .backBtn {
        position: absolute;
        width: 63px;
        height: 49px;
        left: 928px;
        top: 2710px;
        cursor: pointer;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-decoration-line: underline;
        color: #B8A195;
    }
