@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* SELECT button */
.selectButton {
    position: absolute;
    width: 450px;
    height: 60px;
    left: 531px;
    top: 2693px;

    background: #52779C;
    border-radius: 10px;
    border: 0;
        
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    cursor: pointer;
}
.selectButton:hover {
    background-color: #b0c4de;
}

.breakLine {
    pointer-events: none;
    
    overflow: hidden;
    position: absolute;
    width: 222px;
    height: 69px;
    left: 646px;
    top: 2760px;

    background-color: #FAF4F0;
}

/* ENTJ */
    .ENTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 107px;
        top: 280px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENTJ_button:hover, .ENTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENTJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 96px;
        top: 300px;

        pointer-events: none;
    }
    .ENTJ{
        position: absolute;
        width: 58px;
        height: 43px;
        left: 218px;
        top: 608px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 137px;
        top: 659px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ENTP */
    .ENTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 443px;
        top: 280px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENTP_button:hover, .ENTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENTP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 441px;
        top: 300px;

        pointer-events: none;
    }
    .ENTP{
        position: absolute;
        width: 62px;
        height: 43px;
        left: 552px;
        top: 608px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 471px;
        top: 659px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ENFJ */
    .ENFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 783px;
        top: 280px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENFJ_button:hover, .ENFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENFJ_AvatarPosition {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 773px;
        top: 300px;

        pointer-events: none;
    }
    .ENFJ{
        position: absolute;
        width: 56px;
        height: 43px;
        left: 902px;
        top: 608px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 810px;
        top: 659px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ENFP */
    .ENFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 1136px;
        top: 280px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ENFP_button:hover, .ENFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ENFP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 1126px;
        top: 300px;

        pointer-events: none;
    }
    .ENFP{
        position: absolute;
        width: 59px;
        height: 43px;
        left: 1246px;
        top: 608px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ENFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 132px;
        left: 1163px;
        top: 659px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ESTJ */
    .ESTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 107px;
        top: 877px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESTJ_button:hover, .ESTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESTJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 99px;
        top: 895px;

        pointer-events: none;
    }
    .ESTJ{
        position: absolute;
        width: 56px;
        height: 43px;
        left: 219px;
        top: 1213px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESTJ_description{
        pointer-events: none;

        position: absolute;
        width: 222px;
        height: 133px;
        left: 136px;
        top: 1264px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ESFJ */
    .ESFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 443px;
        top: 877px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESFJ_button:hover, .ESFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESFJ_AvatarPosition {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 441px;
        top: 895px;

        pointer-events: none;
    }
    .ESFJ{
        position: absolute;
        width: 53px;
        height: 43px;
        left: 557px;
        top: 1213px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 473px;
        top: 1264px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ESTP */
    .ESTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 783px;
        top: 877px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESTP_button:hover, .ESTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESTP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 773px;
        top: 895px;

        pointer-events: none;
    }
    .ESTP{
        position: absolute;
        width: 60px;
        height: 43px;
        left: 893px;
        top: 1213px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 813px;
        top: 1264px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ESFP */
    .ESFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 1136px;
        top: 877px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ESFP_button:hover, .ESFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ESFP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 1126px;
        top: 895px;

        pointer-events: none;
    }
    .ESFP{
        position: absolute;
        width: 57px;
        height: 43px;
        left: 1247px;
        top: 1213px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ESFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 133px;
        left: 1166px;
        top: 1264px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* INTJ */
    .INTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 107px;
        top: 1474px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INTJ_button:hover, .INTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INTJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 101px;
        top: 1489px;

        pointer-events: none;
    }
    .INTJ{
        position: absolute;
        width: 52px;
        height: 43px;
        left: 221px;
        top: 1802px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .INTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 137px;
        top: 1853px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* INTP  */
    .INTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 443px;
        top: 1474px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INTP_button:hover, .INTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INTP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 433px;
        top: 1489px;

        pointer-events: none;
    }
    .INTP{
        position: absolute;
        width: 55px;
        height: 43px;
        left: 557px;
        top: 1802px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .INTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 472px;
        top: 1853px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* INFJ */
    .INFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 783px;
        top: 1474px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INFJ_button:hover, .INFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INFJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 765px;
        top: 1489px;

        pointer-events: none;
    }
    .INFJ{
        position: absolute;
        width: 49px;
        height: 43px;
        left: 898px;
        top: 1802px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .INFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 815px;
        top: 1861px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* INFP */
    .INFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 1136px;
        top: 1474px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.INFP_button:hover, .INFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .INFP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 1124px;
        top: 1489px;

        pointer-events: none;
    }
    .INFP{
        position: absolute;
        width: 52px;
        height: 43px;
        left: 1250px;
        top: 1802px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .INFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 135px;
        left: 1163px;
        top: 1853px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ISTJ */
    .ISTJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 107px;
        top: 2071px;

        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISTJ_button:hover, .ISTJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISTJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 96px;
        top: 2086px;

        pointer-events: none;
    }
    .ISTJ{
        position: absolute;
        width: 50px;
        height: 43px;
        left: 223px;
        top: 2407px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISTJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 136px;
        top: 2458px;        

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ISFJ */
    .ISFJ_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 443px;
        top: 2071px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISFJ_button:hover, .ISFJ_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISFJ_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 438px;
        top: 2086px;

        pointer-events: none;
    }
    .ISFJ{
        position: absolute;
        width: 47px;
        height: 43px;
        left: 559px;
        top: 2407px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISFJ_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 473px;
        top: 2458px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ISTP */
    .ISTP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 783px;
        top: 2071px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISTP_button:hover, .ISTP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISTP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 773px;
        top: 2086px;

        pointer-events: none;
    }
    .ISTP{
        position: absolute;
        width: 53px;
        height: 43px;
        left: 896px;
        top: 2407px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISTP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 104px;
        left: 813px;
        top: 2458px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }

/* ISFP */
    .ISFP_button {
        box-sizing: border-box;

        position: absolute;
        width: 280px;
        height: 540px;
        left: 1136px;
        top: 2071px;
        
        background: #FFFFFF;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }.ISFP_button:hover, .ISFP_button:focus{
        border: 10px solid #C7DCF1;
    }
    .ISFP_AvatarPosition {
        position:absolute;
        width: 300px;
        height: 300px;
        left: 1124px;
        top: 2086px;

        pointer-events: none;
    }
    .ISFP{
        position: absolute;
        width: 50px;
        height: 43px;
        left: 1250px;
        top: 2407px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;

        color: #B8A195;
        pointer-events: none;
    }
    .ISFP_description{
        pointer-events: none;

        position: absolute;
        width: 221px;
        height: 131px;
        left: 1166px;
        top: 2458px;

        font-family: 'Patrick Hand SC';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        color: #B8A195;
    }