@import url('https://fonts.cdnfonts.com/css/patrick-hand-sc');

.mapBox {
    background: url(/static/map/Map.png) no-repeat;
    position: absolute;
    width: 1512px;
    height: 982px;
    left: 11%;
    top: 1.6%;

    border-radius: 10px;
    border: 0;

    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.closeMapBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 97.5%;
    top: 0.6%;
    cursor: pointer;
}

.academyBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 846px;
    top: 211px;
    border: none;
    cursor: pointer;
}.academyBtn:hover, .academyBtn:focus {
    position: absolute;
    width: 152px;
    height: 152px;

    -webkit-filter: drop-shadow(5px 5px 0 #B8A195)
                    drop-shadow(-5px -5px 0 #B8A195);
    filter: drop-shadow(5px 5px 0 #B8A195) 
            drop-shadow(-5px -5px 0 #B8A195);
}

.timberBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 579px;
    top: 401px;
    cursor: pointer;
}.timberBtn:hover, .timberBtn:focus {
    position: absolute;
    width: 152px;
    height: 152px;

    -webkit-filter: drop-shadow(5px 5px 0 #B8A195)
                    drop-shadow(-5px -5px 0 #B8A195);
    filter: drop-shadow(5px 5px 0 #B8A195) 
            drop-shadow(-5px -5px 0 #B8A195);
}

.nosheryBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 329px;
    top: 601px;
    cursor: pointer;
}.nosheryBtn:hover, .nosheryBtn:focus {
    position: absolute;
    width: 152px;
    height: 152px;

    -webkit-filter: drop-shadow(5px 5px 0 #B8A195)
                    drop-shadow(-5px -5px 0 #B8A195);
    filter: drop-shadow(5px 5px 0 #B8A195) 
            drop-shadow(-5px -5px 0 #B8A195);
}

.athenaeumBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 962px;
    top: 551px;
    cursor: pointer;
}.athenaeumBtn:hover, .athenaeumBtn:focus {
    position: absolute;
    width: 152px;
    height: 152px;

    -webkit-filter: drop-shadow(5px 5px 0 #B8A195)
                    drop-shadow(-5px -5px 0 #B8A195);
    filter: drop-shadow(5px 5px 0 #B8A195) 
            drop-shadow(-5px -5px 0 #B8A195);
}

.seashoreBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 654px;
    top: 777px;
    cursor: pointer;        
}.seashoreBtn:hover, .seashoreBtn:focus {
    position: absolute;
    width: 152px;
    height: 152px;

    -webkit-filter: drop-shadow(5px 5px 0 #B8A195)
                    drop-shadow(-5px -5px 0 #B8A195);
    filter: drop-shadow(5px 5px 0 #B8A195) 
            drop-shadow(-5px -5px 0 #B8A195);
}