@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* ------------- right top Menu ------------- */
.rightTopMenu {
    display: none;

    position: absolute;
    width: 288px;
    height: 473px;
    top: 60px;
    right: 13px;

    background: #FAF4F0;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.myprofileIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 47px;
}
.myprofileTxt {
    position: absolute;
    width: 111px;
    height: 35px;
    left: 69px;
    top: 40px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 26px;
    color: #B8A195;
    cursor: pointer;
}

.settingIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 104px;
}
.settingTxt {
    position: absolute;
    width: 75px;
    height: 35px;
    left: 69px;
    top: 97px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #B8A195; 
    cursor: pointer;   
}

.aboutUsTxt {
    position: absolute;
    width: 100px;
    height: 35px;
    left: 69px;
    top: 154px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #B8A195; 
    cursor: pointer;     
}

.contactUsTxt {
    position: absolute;
    width: 130px;
    height: 35px;
    left: 69px;
    top: 211px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #B8A195; 
    cursor: pointer;     
}

.logOutIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 414px;
}
.logOutTxt {
    position: absolute;
    width: 86px;
    height: 35px;
    left: 69px;
    top: 406px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #B8A195; 
    cursor: pointer;     
}

/* ------------- my profile content ------------- */
.myProfileBox {
    display: none;

    position: absolute;
    width: 580px;
    height: 318px;
    left: 35%;
    top: 33%;
    
    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.myProfileHeader {
    position: absolute;
    width: 580px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}

.myProfileBoxCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 535px;
    top: 8px;

    cursor: pointer;
}
.myProfileHeaderTxt {
    position: absolute;
    width: 118px;
    height: 38px;
    left: 240px;
    top: 4px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.avatarValue {
    display: none;
}
.avatarIcon {
    display: none;
    position: absolute;
    width: 190px;
    height: 190px;
    left: 24px;
    top: 68px;
    pointer-events: none;
}

.editAvatarBtn {
    position: absolute;
    width: 155px;
    height: 35px;
    left: 43px;
    top: 259px;

    background: #52779C;
    border-radius: 10px;
    border: 0;

    font-family: 'Patrick Hand SC';
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.editAvatarBtn:hover {
    background-color: #b0c4de;
}

.nameTxt {
    position: absolute;
    width: 49px;
    height: 38px;
    left: 215px;
    top: 86px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #B8A195;
}
.displayNameValue {
    position: absolute;
    width: 199px;
    height: 33px;
    left: 306px;
    top: 93px;
    
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 26px;
    color: #B8A195;
    text-align: center;
}
.editNameBtnBG {
    position: absolute;
    width: 35px;
    height: 33px;
    left: 521px;
    top: 93px;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.editNameBtn {
    position: absolute;
    width: 28px;
    height: 26px;
    left: 3px;
    top: 4px;
}

.bioTxt {
    position: absolute;
    width: 29px;
    height: 38px;
    left: 215px;
    top: 144px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #B8A195;
}
.bioValue  {
    position: absolute;
    width: 199px;
    height: 34px;
    left: 306px;
    top: 147px;
    
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #B8A195;
    text-align: center;
}
.editBioBtnBG {
    position: absolute;
    width: 35px;
    height: 33px;
    left: 521px;
    top: 148px;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.editBioBtn {
    position: absolute;
    width: 28px;
    height: 26px;
    left: 3px;
    top: 4px;
}

.moodTxt {
    position: absolute;
    width: 29px;
    height: 38px;
    left: 215px;
    top: 202px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #B8A195;
}

.normalBtnBG {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 309px;
    top: 203px;
    border: 0;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}.normalBtnBG:hover, .normalBtnBG:focus{
    border: 3px solid #C7DCF1;
}
.normalBtn {
    position: static;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
}

.happyBtnBG {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 374px;
    top: 203px;
    border: 0;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}.happyBtnBG:hover, .happyBtnBG:focus {
    border: 3px solid #C7DCF1;
}
.happyBtn {
    position: static;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
}

.sadBtnBG {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 439px;
    top: 203px;
    border: 0;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}.sadBtnBG:hover, .sadBtnBG:focus {
    border: 3px solid #C7DCF1;
}
.sadBtn {
    position: static;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
}

.nerdBtnBG {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 504px;
    top: 203px;
    border: 0;
    
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}.nerdBtnBG:hover, .nerdBtnBG:focus {
    border: 3px solid #C7DCF1;
}
.nerdBtn {
    position: static;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
}

/* edit display name & bio content */
.editBox {
    display: none;

    position: absolute;
    width: 415px;
    height: 257px;
    top: 37%;
    left: 40%;

    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.editHeader {
    position: absolute;
    width: 415px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}
.editCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 371px;
    top: 10px;

    cursor: pointer;
}

.editTxt {
    position: absolute;
    width: 260px;
    height: 38px;
    left: 39px;
    top: 84px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}
.labelTxt {
    position: absolute;
    width: 49px;
    height: 34px;
    left: 39px;
    top: 136px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}

.inputNewInfo {
    position: absolute;
    width: 267px;
    height: 35px;
    left: 107px;
    top: 138px;
    padding: 15px; 

    background: #FFFFFF;
    border: 0;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 26px;
    color: #b3b3b3;

    display: inline-block;
    box-sizing: border-box;
}
.saveNewInfoBtn {
    position: absolute;
    width: 116px;
    height: 35px;
    left: 270px;
    top: 201px;
    text-align: center;

    background: #52779C;
    border-radius: 10px;
    border: 0;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #FFFFFF;
    cursor: pointer;
}.saveNewInfoBtn:hover {
    background-color: #b0c4de;
}

/* setting */
.settingBox {
    display: none;
    
    position: absolute;
    width: 985px;
    height: 684px;
    top: 18%;
    left: 26%;

    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.settingHeader {
    position: absolute;
    width: 985px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}
.settingHeaderTxt {
    position: absolute;
    width: 87px;
    height: 38px;
    left: 425px;
    top: 8px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
}
.settingCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 942px;
    top: 10px;
    cursor: pointer;
}

.accountTxt {
    position: absolute;
    width: 102px;
    height: 43px;
    left: 105px;
    top: 105px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}

.emailTxt {
    position: absolute;
    width: 69px;
    height: 43px;
    left: 106px;
    top: 207px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}
.emailValue {
    position: absolute;
    width: 389px;
    height: 43px;
    left: 277px;
    top: 207px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}

.usernameTxt {
    position: absolute;
    width: 75px;
    height: 43px;
    left: 105px;
    top: 272px;
    
    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}
.usernameValue {
    position: absolute;
    width: 176px;
    height: 43px;
    left: 277px;
    top: 272px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}

.pwTxt {
    position: absolute;
    width: 109px;
    height: 43px;
    left: 106px;
    top: 342px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}
.pwShow {
    position: absolute;
    width: 182px;
    height: 43px;
    left: 277px;
    top: 342px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 32px;
    color: #B8A195;
}

.changePwBtn {
    position: absolute;
    width: 180px;
    height: 40px;
    left: 741px;
    top: 344px;

    background: #52779C;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}.changePwBtn:hover {
    background-color: #b0c4de;
}

.changePwBox {
    display: none;

    position: absolute;
    width: 548px;
    height: 374px;
    top: 30%;
    left: 45%;
    
    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.changePwHeader {
    position: absolute;
    width: 549px;
    height: 50px;
    left: -1px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}
.changePwCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 501px;
    top: 10px;
    cursor: pointer;
}

.saveNewPwBtn {
    position: absolute;
    width: 116px;
    height: 35px;
    left: 385px;
    top: 318px;

    background: #52779C;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}.saveNewPwBtn:hover {
    background-color: #b0c4de;
}

.changePwTitleTxt {
    position: absolute;
    width: 229px;
    height: 38px;
    left: 39px;
    top: 84px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}

.oldPwTxt {
    position: absolute;
    width: 136px;
    height: 38px;
    left: 39px;
    top: 136px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}
.oldPwInput {
    position: absolute;
    width: 267px;
    height: 33px;
    left: 242px;
    top: 141px;
    padding: 15px; 

    background: #FFFFFF;
    border: 0;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #b3b3b3;

    display: inline-block;
    box-sizing: border-box;
}

.newPwTxt {
    position: absolute;
    width: 139px;
    height: 38px;
    left: 38px;
    top: 193px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195; 
}
.newPwInput {
    position: absolute;
    width: 267px;
    height: 33px;
    left: 241px;
    top: 198px;
    padding: 15px; 

    background: #FFFFFF;
    border: 0;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #b3b3b3;

    display: inline-block;
    box-sizing: border-box;
}

.confirmPwTxt  {
    position: absolute;
    width: 177px;
    height: 38px;
    left: 38px;
    top: 251px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}
.confirmPwInput {
    position: absolute;
    width: 267px;
    height: 33px;
    left: 241px;
    top: 256px;
    padding: 15px; 

    background: #FFFFFF;
    border: 0;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #b3b3b3;

    display: inline-block;
    box-sizing: border-box; 
}

/* log out */
.logOutBox {
    display: none;
    position: absolute;
    width: 415px;
    height: 250px;
    top: 32%;
    left: 37%;

    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.logOutHeader {
    position: absolute;
    width: 415px;
    height: 50px;
    left: 0px;
    top: 0px;
    
    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}
.logOutHeaderTxt {
    position: absolute;
    width: 90px;
    height: 38px;
    left: 162px;
    top: 6px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
}

.logOutContentTxt {
    position: absolute;
    width: 354px;
    height: 38px;
    left: 31px;
    top: 93px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    color: #B8A195;
}

.loggingOutBtn {
    position: absolute;
    width: 170px;
    height: 45px;
    left: 22px;
    top: 163px;

    background: #52779C;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}.loggingOutBtn:hover {
    background-color: #b0c4de;
}

.cancelBtn {
    position: absolute;
    width: 170px;
    height: 45px;
    left: 222px;
    top: 163px;

    background: #E42402;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}.cancelBtn:hover {
    background-color: #E89B8E ;
}


/*---- ABOUT US ----*/
.aboutUsBox {
    display: none;
    
    position: absolute;
    left: 31%;
    top: 20%;
    width: 739px;
    height: 580px;

    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.aboutUsHeader {
    position: absolute;
    width: 739px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}

.aboutUsCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 691px;
    top: 10px;
    cursor: pointer;
}

.text-1 {
    position: absolute;
    width: 582px;
    height: 228px;
    left: 84px;
    top: 90px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    color: #B8A195;
}
.text-2 {
    position: absolute;
    width: 530px;
    height: 38px;
    left: 104px;
    top: 366px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    color: #B8A195;
}
.text-3 {
    position: absolute;
    width: 319px;
    height: 38px;
    left: 210px;
    top: 444px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    color: #B8A195;
}
.text-4 {
    position: absolute;
    width: 299px;
    height: 38px;
    left: 220px;
    top: 482px;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #B8A195;
}