@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.slugInput {
    display: none;
}

.navbar {
    overflow: hidden;
    margin-top: 0;
    position: absolute;
    width: 100vw;
    height: 5.9%;
    left: 0px;
    top: 0px;

    background-color : #E5C6A9;
}

.chatIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 96.041%;
    margin-top: 89.5vh;
    cursor: pointer;
}
 /* ------------- chat content ------------- */
.chatContentBox {
    display: block;
    position: absolute;
    margin-top: 47vh;
    margin-left: 72.5vw;

    width: 480px;
    height: 408px;
    
    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.chatHeader {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}

.chatCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 436px;
    top: 10px;
    cursor: pointer;
}

.chatContent {
    box-sizing: border-box;

    position: absolute;
    width: 435px;
    height: 259px;
    left: 20px;
    top: 73px;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #B8A195;
    border-radius: 10px;

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.chatContent > div {
    margin: 5px;
    padding: 10px;
}

.chatMessages {
    width: 383px;
    height: 80px;
     
    background: rgba(229, 198, 169, 0.3);
    border-radius: 8px;
}
.senderName {
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 26px;
    color: #454545;

    margin-left: 10px;
}
.message {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 26px;
    color: #B8A195;

    margin-left: 10px;
}

.inputChat {
    box-sizing: border-box;

    position: absolute;
    width: 348px;
    height: 38px;
    left: 20px;
    top: 350px;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #B8A195;
    border-radius: 10px;

    padding: 10px; 
    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #b3b3b3;

    display: inline-block;
    box-sizing: border-box;
}

.chatSendBtn {
    position: absolute;
    width: 77px;
    height: 38px;
    left: 379px;
    top: 350px;
    
    background: #68C548;
    border-radius: 10px;
    border: 0;
    cursor: pointer;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 32px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
}.chatSendBtn:hover {
    background-color: #bce191;
}
 /* ------------- chat content ------------- */


.burgerbar {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 18px;
    top: 7px;

    cursor: pointer;
}

.dotMenuBtn {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 96.7%;
    top: 23%;

    cursor: pointer;
}

 /* ------------- burger content ------------- */
.burgerContent {
    display: none; /* Hidden by default */
    
    position: absolute;
    width: 263px;
    height: 94vh;
    left: 0px;
    top: 60px;

    background: #FAF4F0;
}

.BurgerDefaultContent {
    display: block;
}

.soundBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 21px;
    margin-top: 85vh;
    cursor: pointer;
}
.spaceBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 21px;
    margin-top: 85vh;
    cursor: pointer;
}
.soundTxt {
    position: absolute;
    width: 41px;
    height: 22px;
    left: 17px;
    margin-top: 89vh;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.muteBtn {
    display: block;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 85px;
    margin-top: 85vh;
    cursor: pointer;
}
.unmuteBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 85px;
    margin-top: 85vh;
    cursor: pointer;
}
.muteTxt {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 79px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.deafenBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 148px;
    margin-top: 85vh;
    cursor: pointer;
}
.undeafenBtn {
    display: block;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 148px;
    margin-top: 85vh;
    cursor: pointer;
}
.deafenTxt {
    position: absolute;
    width: 54px;
    height: 22px;
    left: 137px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.leaveBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 207px;
    margin-top: 85vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.leaveTxt {
    position: absolute;
    width: 32px;
    height: 22px;    
    left: 211px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

 /* ------------- sound content ------------- */
.soundContainer {
    display: none; /* Hidden by default */
    
    position: absolute;
    width: 253px;
    height: 820px;
    left: 0px;
    top: 28px;

    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------------- other's profile content ------------- */
.profileBtn {
    position: absolute;
    width: 166px;
    height: 46px;
    left: 1400px;
    top: 113px;

    background: #D9D9D9;
    border: 0;
    border-radius: 10px;
}
.profileBox {
    display: none;

    position: absolute;
    width: 580px;
    height: 318px;
    left: 35%;
    top: 33%;
    
    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.profileBoxHeader {
    position: absolute;
    width: 580px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}

.profileCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 535px;
    top: 8px;

    cursor: pointer;
}
.profileBoxHeaderTxt {
    position: absolute;
    width: 118px;
    height: 38px;
    left: 240px;
    top: 4px;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}
.profileBioValue {
    position: absolute;
    width: 199px;
    height: 72px;
    left: 306px;
    top: 150px;
    
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Patrick Hand';
    font-style: normal;
    font-size: 24px;
    color: #B8A195;
    text-align: center;
}