<!DOCTYPE html>
{% extends 'enterSpace.html' %}
{% load static %}

{% block contentCreate %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}"> 
    </head>

    <body>
        <div class="mapBox">
            <img class="closeMapBtn" id="closeMapBtn" type="image" src="{% static 'icon/Xmark.png' %}" onclick="closePopup()"/>

            {% comment %}------- ACADEMY -------{% endcomment %}
            <form>
                <img class="academyBtn" id="academy" type="image" src="{% static 'map/Classroom.png' %}" onclick="classroomPopup()"/>
            </form>

            {% comment %}------- TIMBER -------{% endcomment %}
            <form>
                <img class="timberBtn" id="timber" type="image" src="{% static 'map/Forest.png' %}" onclick="forestPopup()"/>
            </form>

            {% comment %}------- NOSHERY -------{% endcomment %}
            <form>
                <img class="nosheryBtn" id="noshery" type="image" src="{% static 'map/Cafe.png' %}" onclick="cafePopup()"/>
            </form>

            {% comment %}------- ATHENAEUM -------{% endcomment %}
            <form>
                <img class="athenaeumBtn" id="athenaeum" type="image" src="{% static 'map/Library.png' %}" onclick="libraryPopup()"/>
            </form>

            {% comment %}------- SEASHORE -------{% endcomment %}
            <form>
                <img class="seashoreBtn" id="seashore" type="image" src="{% static 'map/Beach.png' %}" onclick="beachPopup()"/>
            </form>

        </div>

        {% block contentCreateRoom %}
        {% endblock contentCreateRoom %}

    </body>

    <script>
        function closePopup() {
            window.location.pathname = "enterSpace"
        }

        {% comment %} open create space popup {% endcomment %}
        
        function classroomPopup() {
            window.location.pathname = "classroom_create/createClassroom"
        }

        function forestPopup() {
            window.location.pathname = "forest_create/createForest"
        }

        function cafePopup() {
            window.location.pathname = "cafe_create/createCafe"
        }

        function libraryPopup() {
            window.location.pathname = "library_create/createLibrary"
        }

        function beachPopup() {
            window.location.pathname = "beach_create/createBeach"
        }
    </script>

</html>

<style>
    
</style>
{% endblock contentCreate %}