<!DOCTYPE html>
{% load static %}

<html lang="en">
    <title>About Us</title>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{% static 'icon/logo.png' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/space.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/RightTopMenu.css' %}">
    </head>
    
    <body style="background-color:#FAF4F0;">
        <!-- navbar -->
            <div class="navbar">
                <img class="dotMenuBtn" id="dotMenuBtn" src="{% static 'icon/Dot menu.png' %}"/>
            </div>
        <!-- end of navbar -->

        <!-- right top Menu -->
        <div class="rightTopMenu" style="display:block;" id="rightTopMenu">

            <img class="myprofileIcon" src="{% static 'icon/profile.png' %}"/>
            <div class="myprofileTxt" id="myprofileBtn">MY PROFILE</div>

            <img class="settingIcon" src="{% static 'icon/setting(1).png' %}"/>
            <div class="settingTxt" id="settingBtn">SETTING</div>

            <img class="aboutUsIcon" src="{% static 'icon/Logo-brown.png' %}"/>
            <div class="aboutUsTxt" id="aboutUsBtn">ABOUT US</div>

            <img class="logOutIcon" src="{% static 'icon/logout.png' %}"/>
            <div class="logOutTxt" id="logOutBtn">LOG OUT</div>
        </div>
        <!-- end of right top Menu -->

        <!-- ABOUT US -->
        <div class="aboutUsBox" style="display:block;" id="aboutUsBox">
            <div class="aboutUsHeader">
                <img class="aboutUsCloseBtn" id="aboutUsCloseBtn" src="{% static 'icon/Cross - white.png' %}"/>
            </div>

            <div class="text-1">We are naïve web developers that like to relax and work<br>
                in co - working space. We will never try to get rid of the<br>
                ambience created by individuals conversing calmly,<br>
                the beauty of nature, and the music playing.
                <br><br>
                Hope you had fun!</div>

            <div class="text-2">DEVELOPED & DESIGNED BY beforedecember - bearwearsdress</div>

            <div class="text-3">in case you need to contact us</div>

            <div class="text-4">idyllicspace.official@gmail.com</div>
        </div>
        <!-- end of ABOUT US -->

    </body>

    <script>
        function close() {
            window.location.pathname = "enterSpace"
        }
        document.getElementById("aboutUsCloseBtn").addEventListener('click', close)
        document.getElementById("dotMenuBtn").addEventListener('click', close)

        function myProfile() {
            window.location.pathname = "Space/userProfilePage"
        }
        document.getElementById("myprofileBtn").addEventListener('click', myProfile)

        function setting() {
            window.location.pathname = "Space/settingPage"
        }
        document.getElementById("settingBtn").addEventListener('click', setting)

        function goLogOut() {
            window.location.pathname = "logOutPage"
        }
        document.getElementById("logOutBtn").addEventListener('click', goLogOut)
    </script>

</html>

    <style>

    </style>