@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.key1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 574px;
    top: 342px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key1:hover {
    background-color: #efdecd ;
}

.key2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 703px;
    top: 342px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key2:hover {
    background-color: #efdecd ;
}

.key3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 833px;
    top: 342px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key3:hover {
    background-color: #efdecd ;
}

.key4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 574px;
    top: 460px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key4:hover {
    background-color: #efdecd ;
}

.key5 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 703px;
    top: 460px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key5:hover {
    background-color: #efdecd ;
}

.key6 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 833px;
    top: 460px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key6:hover {
    background-color: #efdecd ;
}

.key7 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 574px;
    top: 578px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key7:hover {
    background-color: #efdecd ;
}

.key8 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 703px;
    top: 578px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key8:hover {
    background-color: #efdecd ;
}

.key9 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 833px;
    top: 578px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key9:hover {
    background-color: #efdecd ;
}

.keyBlank {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 574px;
    top: 696px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}

.key0 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 703px;
    top: 696px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.key0:hover {
    background-color: #efdecd ;
}

.keyDel {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 833px;
    top: 696px;

    background: #E5C6A9;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Patrick Hand SC';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.keyDel:hover {
    background-color: #efdecd ;
}

.keyDel_Position {
    pointer-events: none;
    
    position: absolute;
    width: 56px;
    height: 49px;
    left: 855px;
    top: 721px;
}