@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navbar {
    overflow: hidden;
    margin-top: 0;
    position: absolute;
    width: 100vw;
    height: 5.9%;
    left: 0px;
    top: 0px;

    background-color : #E5C6A9;
}

.chatIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 96.041%;
    margin-top: 89.5vh;
    cursor: pointer;
}
 /* ------------- chat content ------------- */
.chatContentBox {
    display: none;
    position: absolute;
    margin-top: 47vh;
    margin-left: 72.5vw;

    width: 480px;
    height: 408px;
    
    background: #FAF4F0;
    border: 3px solid #B8A195;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.chatHeader {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 0px;
    top: 0px;

    background: #E5C6A9;
    border-radius: 10px 10px 0px 0px;
}

.chatCloseBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 436px;
    top: 10px;
    cursor: pointer;
}
 /* ------------- chat content ------------- */


.burgerbar {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 18px;
    top: 7px;

    cursor: pointer;
}

.dotMenuBtn {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 96.7%;
    top: 23%;

    cursor: pointer;
}

 /* ------------- burger content ------------- */
.burgerContent {
    display: none; /* Hidden by default */
    
    position: absolute;
    width: 263px;
    height: 94vh;
    left: 0px;
    top: 60px;

    background: #FAF4F0;
}

.soundBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 21px;
    margin-top: 85vh;
    cursor: pointer;
}
.spaceBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 21px;
    margin-top: 85vh;
    cursor: pointer;
}
.soundTxt {
    position: absolute;
    width: 41px;
    height: 22px;
    left: 17px;
    margin-top: 89vh;
    text-align: center;

    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.muteBtn {
    display: block;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 85px;
    margin-top: 85vh;
    cursor: pointer;
}
.unmuteBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 85px;
    margin-top: 85vh;
    cursor: pointer;
}
.muteTxt {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 79px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.deafenBtn {
    display: block;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 148px;
    margin-top: 85vh;
    cursor: pointer;
}
.undeafenBtn {
    display: none;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 148px;
    margin-top: 85vh;
    cursor: pointer;
}
.deafenTxt {
    position: absolute;
    width: 54px;
    height: 22px;
    left: 137px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

.leaveBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 210px;
    margin-top: 85vh;
    cursor: pointer;
}
.leaveTxt {
    position: absolute;
    width: 32px;
    height: 22px;    
    left: 211px;
    margin-top: 89vh;

    text-align: center;
    font-family: 'Patrick Hand SC';
    font-style: normal;
    font-size: 16px;
    color: #B8A195;
}

 /* ------------- sound content ------------- */
.soundContainer {
    display: none; /* Hidden by default */
    
    position: absolute;
    width: 253px;
    height: 820px;
    left: 0px;
    top: 28px;

    overflow-y: scroll;
    overflow-x: hidden;
}